body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: white;
    font-family: "Fira Sans", sans-serif;
}

.eta-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: rgb(96, 88, 88);
    height: 800px;
    text-shadow: none;
    padding: 1rem;
}

.btn-option {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding-top: 1em;
    max-width: auto;
}

.kvitto-btn {
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;
    color: white;
    background-color: rgb(96, 88, 88);
    padding: 2.0em;
    border-radius: 5px;
    border: solid #F4F3F1F0;
}

.kvitto-btn:hover {
    background-color: #F4F3F1F0;
    color: black;
}

.neworder-btn {
    font-family: "Fira Sans", sans-serif;
    font-weight: 700;
    color: white;
    background-color: rgb(53, 49, 49);
    padding: 2.0em;
    border-radius: 5px;
    border: none;
    text-shadow: none;
}

.neworder-btn:hover {
    background-color: rgb(107, 106, 106);
}

.order-number {
    font-size: 13px;
}

.content {
    text-align: center;
}

.eta-container img {
    width: 390px;
    height: auto;
}

.neworder-btn, .kvitto-btn {
    font-size: 24px;
	line-height: 28.8px;
}


.hidden {
    display: none;
}

@media (min-width: 601px) and (max-width: 1024px) {
    .eta-container {
        width: 75%;
        max-width: auto;
        height: auto;
        padding: 1.5rem;
    }

    .kvitto-btn, .neworder-btn {
        font-size: 1.1em;
        padding: 2.5em;
    }

    .order-number {
        font-size: 14px;
    }

    .eta-container img {
        width: 100%;
        height: auto;
    }
}


@media (min-width: 1025px) {
    .eta-container {
        width: auto;
        min-width:390px;
		max-width:800px;
        height: auto;
        padding: 2rem;
    }

    .kvitto-btn, .neworder-btn {
        font-size: 1em;
        padding: 3em;
    }

    .order-number {
        font-size: 15px;
    }

    .eta-container img {
        width: auto;
        height: auto;
    }
}
